{% extends "base.html" %}

{% block content %}
  <h1>
      TODO list
      <a href="{% url "catalog:task-create" %}" class="btn btn-info btn-sm button">Add task</a>
  </h1>

    {% if tasks_list %}
        {% for task in tasks_list %}
            <hr>
            <p><strong>{{ task.content }}</strong>
                {% if task.status %}
                    <strong class="done">
                        Done
                        <a href="{% url 'catalog:changes-status' pk=task.id %}"
                           class="btn btn-secondary btn-sm button">
                            Undo
                        </a>
                    </strong>
                {% else %}
                    <strong class="not_done">
                        Not done
                        <a href="{% url 'catalog:changes-status' pk=task.id %}"
                           class="btn btn-success btn-sm button">
                            Complete
                        </a>
                    </strong>
            </p>
                {% endif %}
            <p>Created: {{ task.datetime }} <span class="deadline"> {% if task.deadline is not None %} Deadline: {{ task.deadline }} {% else %} {% endif %}</span></p>
            <p class="tags">Tags: {% for tag in task.tags.all %} {{ tag }} {% endfor %}
                <a href="{% url 'catalog:task-update' pk=task.id %}">Update</a>
                <a href="{% url 'catalog:task-delete' pk=task.id %}">Delete</a>
            </p>
        {% endfor %}
    {% else %}
      <p>There are no tags in Todo list!</p>
    {% endif %}
{% endblock %}
